
body { background-color: #ddd; }
ody { margin-left: 3em;
 margin-right: 3em; }
    h1 { background: yellow; font-size: 4em;}
    h2 { background: pink; font-size: 30px;} 
    h3 { line-height: 0.5em; }
    th { font-size: 20px; }
    td { font-size: 20px; }
    
    
    